.newsletter {
  width: 100%;
  padding: 60px 20px;
  background: #fde1ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.newsletter h1 {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.newsletter p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.newsletter div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.newsletter input {
  padding: 14px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  width: 280px;
  max-width: 90%;
}

.newsletter button {
  padding: 14px 25px;
  font-size: 16px;
  background-color: #ff4141;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.newsletter button:hover {
  background-color: #e63838;
}
